*{
    background-color: rgb(7, 7, 7);
    color: aliceblue;
}

.iteration-label {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
}

.iteration-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px; /* Add space between slider and button */
}

.slider-container {
    display: inline-block;
    /* display: flex; */
    align-items: center;
    gap: 10px; /* Adds space between the slider and button */
}


body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #000000; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 40px); 
}

#graph {
    width: 100%;
    height: 90vh; 
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto; /* Center horizontally */
    /* border: 1px solid #ccc; */
}

input::-webkit-slider-runnable-track {
    /* -webkit-appearance: none; */
    /* position: relative; */
    /* box-sizing: ; */
    background-color: rgb(53, 53, 53);
    /* width: 100%; */
    /* height: 20px;  */
    border-radius: 5px;
    overflow: hidden;
  } 

#slider {
    flex-grow: 1; 
    max-width: 500px; 
  }
  
#reset-button, #prev-button, #next-button, #play-button, #pause-button {
    padding: 5px 10px;
    background-color: #313030;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap; 
}

#reset-button:hover, #prev-button:hover, #next-button:hover, #play-button:hover, #pause-button:hover {
background-color: #4e4e4e;
}

#controls {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

svg {
    width: 100%;
    height: auto;
    margin-top: 0px;
}